#article {
  .postdate {
    font-weight: 300;
  }

  .preamble {
    margin-bottom: 2rem;
  }

  #content .section:first-of-type h1:first-of-type {
    display: none;
  }

  div.note {
    background-color: #EEE;
    border: 1px solid #CCC;
  }
}