@import "variables";

html, body {
  height: 100%;
  flex: 1;
}

img {
  max-width: 100%;
}

.navbar-brand {
  img {
    height: 50px;
  }
}

.content-main {
  padding: 20px;
  margin-top: 26px;
}

.content-navbar, .content-sidebar, .content-main {
  padding: 1.5rem;
}

.content-breadcrumbs > .breadcrumb {
  background-color: inherit;
  margin: 0;
  padding: 0;
}

.content-navbar, .content-sidebar {
  background-color: lightgray;
  font-family: $font-family-sans-serif;
}

.content-relations {
  text-align: right;
}
